section.new-tweet {
  border: 1px solid silver;
  margin: 0 2em;
  border-radius: 15px;
  padding-bottom: 0.5em;
}

section.new-tweet h2 {
  margin: 0.5em;
  border-bottom: 1px solid slategray;
}

section.new-tweet textarea {
  display: block;
  margin: 0.5em;
  width: 96%;
  padding: 0.5em;
}

section.new-tweet input[type="submit"] {
  margin-left: 0.5em;
  float: left;
}

section.new-tweet .counter {
  float: right;
  margin-right: 0.5em;
}

section.new-tweet .error-msg {
  color: red;
  margin-left: 0.5em;
  font-weight: bold;
}
